.case-lists {
    display: flex;
    align-items: flex-start;
    margin: 30px 20px;
    border-bottom: 2px solid $black;
}
.case {
    display: none;
    @media (min-width: 768px){
        display: block;
        font-weight: 400;
        font-size: 15px;
        line-height: calc(30/20);
    }
    @media (min-width: 992px){
        font-weight: 400;
        font-size: 20px;
    }
    h1 {
        font-weight: 600;
        line-height: calc(50/40);
        @media (min-width: 768px){
            font-size: 30px;
        }
        @media (min-width: 992px){
            font-size: 40px;
        }
    }
    img {
        padding: 20px 0;
        max-width: 100%;
        height: auto;
    }
    a {
        @include text(600, 20px, 30px);
        text-decoration: none;
        color: $black;
        &:hover {
            color: $orange;
        }
    }
}
.lists {
    padding: 0 10px;
    @media (min-width: 992px) {
        padding-left: 150px;
    }
    h5 {
        font-weight: 600;
        font-size: 15px;
        @media (min-width: 768px){
            font-size: 20px;
        }
    }
    .nav-footer {
        padding: 0;
        margin: 0;
    }
    li {
        font-weight: 600;
        font-size: 15px;
        line-height: calc(25/20);
        list-style: none;
        @media (min-width: 768px){
            font-size: 20px;
        }
        a {
            @include text(400, 15px, 15px);
            text-decoration: none;
            color: $black;
            &:hover {
                color: $orange;
            }
        }
    }
}
.nav-foot-block {
    padding-right: 70px;
}
.lis {
    display: flex;
    justify-content: space-between;
}
.block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}
.local {
    width: 100%;
    display: flex;
    img {
        padding: 0 20px;
        height: auto;
    }
    p {
        display: none;
        @media (min-width: 768px){
            display: block;
            padding: 0 20px;
        }
    }
}



