body {
    background: $gray;
    font-family: graphik_lcgregular;
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    align-items: center;
    @include container (100%, 1440px);
    min-height: 95px;
    background: $white;
    margin: 0 auto;
    padding: 0 20px;
}    
.peach {
    background: $peach;
}
.group {
    background: $champagne;
}
.blue {
    background: $blue;
    min-height: 468px;
}
.brown {
    min-height: 332px;
    background: $brown;
}

