#header {
    position: relative;
}
.head {
    border-bottom: 2px solid $gray;
}
.logo  {
    img{
        min-width: 100%;
        height: auto;
        padding: 20px 20px;
    }
} 
.logo {
    a :hover  {
       transform: scale(1.1);
}
}
#opener {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    &:checked{
        ~ .menu-drop{
            @media (max-width: 991px){
                top: 100%;
            }
        }
    }
}
.opener {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    position: relative;
    @media (min-width: 992px) {
        display: none;
    }
    &:before,
    &:after,
    span {
        display: block;
        content: '';
        font-size: 0;
        line-height: 0;
        height: 2px;
        position: absolute;
        left: 5px;
        right: 5px;
        background: #000;
    }
    &:before {
        top: 8px;
    }
    &:after {
        top: 29px;
    }
    span {
        top: 50%;
        transform: translateY(-50%);
    }
}
.menu-drop {
    position: absolute;
    left: 0;
    top: -999px;
    right: 0;
    background: burlywood;
    border-radius: 15px 50px;
    transition: top 2s;
    @media (min-width: 992px){
        position: static;
        display: flex;
        align-items: center;
        background: none;
        width: 100%;
    }
}
nav {
    flex-grow: 1;
}
.box-nav {
    text-align: center;
    @media (min-width: 992px){
        display: flex;
    }
    li {
        max-width: 100%;
        list-style: none;
        a {
            text-decoration: none;
            color: $black;
            font-weight: 400;
            font-size: 20px;
            line-height: calc(20/15);
            &:hover {
                color: $orange;
            }
            @media (min-width: 992px){
                font-size: 15px;
                padding: 0 40px;
            }
        }
    }
}
.box-button {
    display: flex;
    padding: 15px 30px;
    @media (max-width: 991px){
        padding: 15px;
    }
    a {
        text-decoration: none;
        text-align: center;
        margin: 0 10px 0 0;
        border-radius: 20px;
        @media (max-width: 991px){
            width: 50%; 
        }
        @media (min-width: 991px){
            border-radius: 0;
        }
    }
}
